<!DOCTYPE html>
<html>
  <head>
    <title>425</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app"> </div>
    <script type="text/javascript" src="/javascripts/bundle.js"></script>
  </body>
</html>
